*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: black;
}
::selection{
    color: white;
    background: black;
}
.wrapper{
    width: 400px;
    background: white;
    border-radius: 7px;

}
.wrapper header{
    display: flex;
    font-size: 21px;
    font-weight: 500;
    color: black;
    padding: 16px 15px;
    align-items: center;
    border-bottom: 1px solid grey;
}
header i{
    font-size: 0em;
    cursor: pointer;
    margin-right: 8px;
}
.wrapper.active header i{
    
}